{% extends 'blog/base.html' %}

{% block title %} {{ blog_title|default:"Post Detail" }} {% endblock %}

{% block content %}
    <article>
        <h2>{{ post.title }}</h2>
        <p class="post-meta">
            Published on {{ post.created_at }}
        </p>
        <p>
            {{ post.excerpt }}
        </p>
        <hr>
        <div>
            {{ post.content }}
        </div>
        <p>
            <a href="{% url 'blog:index' %}">&laquo; Back to all posts</a>
        </p>
    </article>
{% endblock %}